header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 30px;
    background-color: #333;
    color: #f8f8f8;

    h1{
        font-size: 27px;
        font-weight: 400;
        letter-spacing: 7%;
    }
}