header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 30px;
    background-color: #333;
    color: #f8f8f8;

    h1{
        font-size: 27px;
        font-weight: 400;
        letter-spacing: 7%;
    }

    nav{
        ul{
            display: flex;
            flex-direction: row;
            
            li{
                margin-right: 20px;
                list-style-type: none;
                cursor: pointer;
                color: #e0d2d2;
                transition: 0.3s ease-in;

                &:hover{
                    color: #fff;
                }

                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }

    .home__open__menu__icon{
        display: none;
    }
}

@media (width < 980px){
    header{
        nav{
            display: none;
        }
    
        .home__open__menu__icon{
            display: block;
        }
    }    
}