main{
    margin-top: 80px;
    padding: 0 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(370px,1fr));

    section{
        margin-right: 20px;
        margin-bottom: 20px;
        position: relative;

        a{
            width: 350px;
            height: 250px;
            border-radius: 8px;
            

            img{
                width: 350px;
                height: 250px;
                border-radius: 8px;
            }

            .section__wrapper{
                position: absolute;
                top: 0;
                left: 0; 
                background-color: rgba(0,0,0,0.6);
                width: 350px;
                height: 100%;

                h2{
                    color: #f8f8f8;
                    font-size: 24px;
                    position: absolute;
                    top: 20px;
                    left: 20px;
                }

                p{
                    color: #f8f8f8;
                    font-size: 18px;
                    position: absolute;
                    bottom: 80px;
                    left: 20px;
                    padding: 0 20px 0 0;
                }
            }
        }
    }
}

footer{
    margin-top: 120px;
    background-color: #333;
    color: #f8f8f8;

    h2{
        font-size: 21px;
        padding: 40px 0 0 40px;
    }

    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 60px 40px;

        div{
            display: flex;
            flex-direction: column;

            ul{

                li{
                    list-style-type: none;
                    margin-bottom: 15px;

                    a{
                        color: #e0d2d2;
                        transition: 0.3s ease-in;
                        text-decoration: none;

                        &:hover{
                            color: #fff;
                        
                        }
                    }
                }
            }

            li{
                list-style-type: none;
                margin-bottom: 15px;

                a{
                    color: #e0d2d2;
                    transition: 0.3s ease-in;
                    text-decoration: none;

                    &:hover{
                        color: #fff;
                    
                    }
                }
            }
        }
    }

    h3{
        padding-bottom: 40px;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
    }
}