.login__container{
    display: flex;
    flex-direction: row;
}

picture{
    width: 50%;
    height: 100vh;
}

picture > img{
    width: 100%;
    height: 99.5vh;
}

form{
    width: 50%;
    padding: 100px;
}

.form__wrapper{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

h2{
    font-size: 42px;
}

.form__wrapper, .form__wrapper > .camp{
    display: flex;
    flex-direction: column;
}

.camp:first-of-type{
    margin-top: 50px;
}

.camp:last-of-type{
    margin: 20px 0;
}

.camp > label{
    font-size: 19px;
    margin-bottom: 3px;
}

.camp > input{
    max-width: 400px;
    min-width: 280px;
    height: 35px;
    padding: 8px 15px;
    outline: 0;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.form__wrapper > button{
    width: 400px;
    height: 45px;
    border: 0;
    border-radius: 4px;
    font-size: 17px;
    font-weight: 700;
    background-color: #333;
    color: #f8f8f8;
    cursor: pointer;
}